/* src/components/HeroSection.css */
.hero {
    background-image: url('../images/home.png'); /* 背景图片 */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 50px 20px;
    position: relative;
    height: 500px; /* 根据需要调整高度 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-circle {
    width: 280px; /* 圆形的大小 */
    height: 280px;
    background-color: #8c6bae; /* 紫色背景 */
    border-radius: 50%; /* 使其成为圆形 */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: pulse 2s infinite; /* 添加脉冲动画效果 */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* 添加阴影效果 */
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    }
}

.quote-text {
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    font-family: 'Pacifico', cursive; /* 使用手写字体 */
    animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
